doctype html
html(lang="en")
    head
        title Add Book Information
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            form(method="POST")
                label(for="bookName") Book Name
                input(type="text" name="bookName" required)
                label(for="bookAuther") Book Auther
                input(type="text" name="bookAuther" required)
                label(for="bookPrice") Book Price
                input(type="number" name="bookPrice" required)
                input(type="submit" value="Submit")